/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-static-react-block {
	color: #f00;
	padding: 10px 0px;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.components-base-control__field {
	label {
		display: block;
		margin-bottom: 5px;
	}
}