/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-static-react-block {
	padding: 10px;
}


.is-style-squared {
	border-radius: 0px;
}
.is-style-rounded {
	border-radius: 10px;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}