/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "variables.scss";

.wp-block-create-block-static-react-block {
	background-color: $main-color;
	padding: 2px;
	max-width: 800px;
	margin: 0 auto;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}


.has-strong-magenta-color {
	color: #a156b4,
}

.has-strong-magenta-background-color {
	background-color: #a156b4,
}

.has-light-grayish-magenta-color {
	color: #d0a5db,
}

.has-light-grayish-magenta-background-color {
	background-color: #d0a5db,
}

.has-very-dark-gray-color {
	color: #444,
}

.has-very-dark-gray-background-color {
	background-color: #444,
}

.has-very-light-gray-color {
	color: #eee,
}

.has-very-light-gray-background-color {
	background-color: #eee,
}