/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "variables.scss";

.wp-block-create-block-static-react-block {
	background-color: $main-color;
	padding: 2px;
	max-width: 800px;
	margin: 0 auto;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}